name: Build Android APK

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build APK with Buildozer
        run: |
          docker pull kivy/buildozer:2024.02.16
          docker run --rm \
            -v $PWD:/home/user/hostcwd \
            -w /home/user/hostcwd \
            kivy/buildozer:2024.02.16 \
            buildozer android debug


      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: bin/*.apk
